.options {
    width: 150px;
    height: 37px;
    font-size: 18px;
    border-radius: 7px;
    border-width: 2px;
    padding: 0 5px;
}

.buttList {
    display: flex;
    gap: 10px;
    width: 60%;
    align-items: center;
}
