@import '../../styles/vars.module.scss';

.panel {
    border-radius: $border-radius;
    background-color: $section-color-grey;
    margin-top: $margin-big;
    margin-bottom: $margin-big;
    padding: $padding-large;
    width: calc(100% - $padding-large * 2);

    &[data-color=true] {
        color: $white-color;
        background-color: $section-color;
    }

    &[data-level='2'] {
        background-color: $helpy-color;
    }
}
