.llms {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.options {
    width: 150px;
    height: 37px;
    font-size: 18px;
    border-radius: 7px;
    border-width: 2px;
    padding: 0 5px;
}
