@import '../../../../core/styles/vars.module.scss';

.commList {
    padding: 30px;
    background-image: url(./assets/back.png);
    background-size: cover;
    background-repeat: round;
    opacity: 0.8;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); 
    margin: 30px 0;
}

.commListItem {
    display: flex;
    width: 100%;
    gap: 15px;
    height: 100px;
    margin-bottom: 20px;
}

.flex1, .flex2, .flex3 {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.flex1 {
    font-size: 20px;
    padding: 15px;
    background-color: $white-color;
    flex: 1;

    &-top {
        background-color: $section-color;
        border-radius: 20px 0 0 0;
    }
}

.flex2 {
    padding: 10px;
    background-color: $white-color;
    flex: 1;

    &-top {
        background-color: $section-color;
        border-radius: 0;
    }
}

.flex3 {
    padding: 15px;
    background-color: $white-color;
    flex: 2;

    &-top {
        background-color: $section-color;
        border-radius: 0 20px 0 0;
    }
}

.overtext {
    // max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

