@import '../../../../core/styles/vars.module.scss';

.line {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;

    &[data-corr=true] {
        color: rgb(81, 190, 81);
    }
}

.bullet {
    height: 40px;
    width: 40px;
    border-radius: 9px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $primary-color;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
