@import '../../../../core/styles/vars.module.scss';

.auth {
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
    
    
}

.switcher {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30px;
    width: 100%;

    text-decoration: underline;
    color: $black-color;
    cursor: pointer;

    &:hover {
        color: grey;
    }
}
